<div class="mt-4 edit-product">
  <h2 class="page-title">Cập nhật sản phẩm</h2>
  <a class="btn-nav" href="/admin/list-product" role="button">Danh sách sản phẩm</a>
  <form method="POST" action="/admin/{{products._id}}?_method=PUT">
    <div class="form-group">
      <label class="label-title" for="name">Tên sản phẩm</label>
      <input type="text" class="form-control" value="{{products.name}}" id="name" name="name">
    </div>
    <div class="form-group">
      <label class="label-title" for="desc">Mô tả</label>
      <input type="text" class="form-control" value="{{products.desc}}" id="desc" name="desc">
    </div>
    <div class="form-group">
      <label class="label-title" for="cost">Giá nhập</label>
      <input type="text" class="form-control" value="{{products.cost}}" id="cost" name="cost">
    </div>
    <div class="form-group">
      <label class="label-title" for="price">Giá sản phẩm</label>
      <input type="text" class="form-control" value="{{products.price}}" id="price" name="price"
        onchange="updateDiscount()">
    </div>
    <div class="form-group">
      <label class="label-title" for="expensive">Giá cao nhất</label>
      <input type="text" class="form-control" value="{{products.expensive}}" id="expensive" name="expensive"
        onchange="updateDiscount()">
    </div>
    <div class="form-group">
      <label class="label-title" for="discount">Phần trăm giảm giá</label>
      <input type="text" class="form-control" value="{{products.discount}}" id="discount" name="discount">
    </div>
    <div class="form-group">
      <label class="label-title" for="category">Chọn thể loại sản phẩm</label>
      <select name="category" id="category">
        <option value="cars">cars</option>
        <option value="motos">motos</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label-title" for="size">Kích thước</label>
      <input type="text" class="form-control" value="{{products.details.size}}" id="size" name="size">
    </div>
    <div class="form-group">
      <label class="label-title" for="weight">Trọng lượng</label>
      <input type="text" class="form-control" value="{{products.details.weight}}" id="weight" name="weight">
    </div>
    <div class="form-group">
      <label class="label-title" for="function">Mô tả chức năng</label>
      <input type="text" class="form-control" value="{{products.details.function}}" id="function" name="function">
    </div>
    <div class="form-group">
      <label class="label-title" for="ratio">Tỉ lệ</label>
      <input type="text" class="form-control" value="{{products.details.ratio}}" id="ratio" name="ratio">
    </div>
    <div class="form-group">
      <label class="label-title" for="material">Chất liệu</label>
      <input type="text" class="form-control" value="{{products.details.material}}" id="material" name="material">
    </div>
    <div class="form-group">
      <label class="label-title" for="">Hình ảnh hiện tại</label>
      <p>
        {{#each products.images}}
        <img class="current-image" src="/imgs/{{this}}" alt="">
        {{/each}}
      </p>
    </div>
    <div class="form-group">
      <label class="label-title" for="images">Cập nhật hình ảnh</label>
      <input type="file" class="form-control-file" id="images" name="images" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>

<script>
  function updateDiscount() {
    var price = parseInt(document.getElementById("price").value)
    var expensive = parseInt(document.getElementById("expensive").value)
    var discount = ((expensive - price) / expensive) * 100
    document.getElementById("discount").value = discount.toFixed(0)
  }
</script>